# Reference: https://build-cpp.github.io/cmkr/cmake-toml
[project]
name = "christhook"
msvc-runtime = "static"
cmake-before = """
set(VCPKG_TARGET_TRIPLET x86-windows-static)
"""

[fetch-content]
safetyhook = { git = "https://github.com/cursey/safetyhook", tag = "521ae9f498b54455213dd1ac7ddac2dbeecbb628", cmake-before = "set(SAFETYHOOK_FETCH_ZYDIS ON)"}

[vcpkg]
version = "2024.01.12"
packages = ["spdlog"]

[find-package]
spdlog = { version = "*" }

[target.christhook]
type = "shared"
sources = [
    "src/**.cpp",
    "src/**.cxx",
    "src/**.hpp",
    "src/**.hxx",
    "src/**.h"
]
compile-features = ["cxx_std_23"]
#windows.compile-definitions = ["NOMINMAX"]
link-libraries = ["safetyhook::safetyhook", "spdlog::spdlog"]
msvc.private-compile-options = ["/permissive-", "/w14640", "/EHsc", "/MP", "/Zi"]
cmake-after = "set(CMAKE_EXPORT_COMPILE_COMMANDS ON)"